<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Homepage</title>
</head>

<body>

<div layout:fragment="content">

    <ol>
        <li th:each="post : ${postList}" class="post-list">
            <article class="post">
                <div class="title">
                    <a th:href="@{ ${post.postUrl} }" target="_blank">[[${post.title}]]</a>
                    <span th:text="${#strings.replace(post.postUrl,'http://','')}"></span>
                </div>
                <div th:if="${post.voteCount == 1}" class="meta">
                    [[${post.voteCount}]] point by [[${post.userName}]] on
                    <span th:text="${#dates.format(post.postedAt, 'MM-dd-YY')}"></span>
                    |
                    <a th:href="@{/post/{id}(id=${post.id})}" th:if="${post.comments.size() == 1}">[[${post.comments.size()}]] comment</a>
                    <a th:href="@{/post/{id}(id=${post.id})}" th:unless="${post.comments.size() == 1}">[[${post.comments.size()}]] comments</a>
                </div>
                <div th:unless="${post.voteCount == 1}" class="meta">
                    [[${post.voteCount}]] points by [[${post.userName}]] on
                    <span th:text="${#dates.format(post.postedAt, 'MM-dd-YY')}"></span>
                    |
                    <a th:href="@{/post/{id}(id=${post.id})}" th:if="${post.comments.size() == 1}">[[${post.comments.size()}]] comment</a>
                    <a th:href="@{/post/{id}(id=${post.id})}" th:unless="${post.comments.size() == 1}">[[${post.comments.size()}]] comments</a>
                </div>
            </article>
        </li>
    </ol>
</div>

</body>
</html>