<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Single-post</title>
</head>

<body>

<div layout:fragment="content">

    <article class="post">
        <div class="title">
            <a th:href="@{ ${post.postUrl} }" target="_blank">[[${post.title}]]</a>
            <span th:text="${#strings.replace(post.postUrl,'http://','')}"></span>
        </div>
        <div th:if="${post.voteCount == 1}" class="meta">
            [[${post.voteCount}]] point by [[${post.userName}]] on
            <span th:text="${#dates.format(post.postedAt, 'MM-dd-YY')}"></span>
            |
            <a th:href="@{/post/{id}(id=${post.id})}" th:if="${post.comments.size() == 1}">[[${post.comments.size()}]] comment</a>
            <a th:href="@{/post/{id}(id=${post.id})}" th:unless="${post.comments.size() == 1}">[[${post.comments.size()}]] comments</a>
        </div>
        <div th:unless="${post.voteCount == 1}" class="meta">
            [[${post.voteCount}]] points by [[${post.userName}]] on
            <span th:text="${#dates.format(post.postedAt, 'MM-dd-YY')}"></span>
            |
            <a th:href="@{/post/{id}(id=${post.id})}" th:if="${post.comments.size() == 1}">[[${post.comments.size()}]] comment</a>
            <a th:href="@{/post/{id}(id=${post.id})}" th:unless="${post.comments.size() == 1}">[[${post.comments.size()}]] comments</a>
        </div>
    </article>


    <form th:if="${loggedIn}" action="#" th:action="@{/comments}" th:object="${comment}" method="post" class="comment-form">
        <div>
            <input type="hidden" th:value="${post.id}" name="postId"/>
            <textarea name="comment-body" th:field="*{commentText}"></textarea>
        </div>

        <div>
            <button type="submit">add comment</button>
            <button type="button" class="upvote-btn">upvote</button>
        </div>
    </form>

    <div class="comments">
        <section th:each="comment : ${commentList}" class="comment">
            <div class="meta">
                [[${post.userName}]] on [[${post.postedAt}]]
            </div>
            <div class="text">
                [[${comment.commentText}]]
            </div>
        </section>
    </div>
    <div th:if="${loggedIn}">
        <script src="/js/upvote.js"></script>
    </div>
</div>

</body>
</html>